<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rayful.lgbulker.mapper.FileMetadataMapper">

    <insert id="insertFileMetadata" parameterType="com.rayful.lgbulker.entity.FileMetadata" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file_metadata (
            file_guid, file_name, file_size,
            mail_guid, file_content_path, file_time,
            error_code, error_message
        )
        VALUES (
                   #{fileGuid}, #{fileName}, #{fileSize},
                   #{mailGuid}, #{fileContentPath}, #{fileTime},
                   #{errorCode}, #{errorMessage}
               )
    </insert>

</mapper>
