<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rayful.mcollector.mapper.AttachMapper">
    <resultMap id="AttachVoMap" type="com.rayful.lgbulker.vo.AttachVo">
        <result column="attach_id" property="attach_id"/>
        <result column="attach_path" property="attach_path"/>
        <result column="attach_name" property="attach_name"/>
        <result column="attach_body" property="attach_body"/>
        <result column="link_yn" property="link_yn"/>
        <result column="em_id" property="em_id"/>
        <result column="subject" property="subject"/>
        <result column="sender" property="sender"/>
        <result column="senddtm" property="senddtm"/>
        <result column="receiver" property="receiver"/>   <!-- 컬럼명과 VO 필드명 다를 때 명시적 매핑 -->
        <result column="em_body" property="em_body"/>
    </resultMap>

    <select id="findAll" resultMap="AttachVoMap">
        <![CDATA[
        SELECT
             CONCAT('attach_', b.id)                                                      as attach_id
             , '/data/poc/sourcedocs'                                                       as attach_path
             , b.attachname                                                                 as attach_name
             , ''                                                                           as attach_body
             , 'N'                                                                          as 'link_yn'
     , CONCAT(DATE_FORMAT(a.release_dtm, '%Y-%m-%dT%H:%i:%s'), '_', 'samuel@rayful.com') as em_id
             , a.title                                                                      as subject
             , 'jinhoh21@naver.com'                                                         as sender
             , DATE_FORMAT(a.release_dtm, '%Y-%m-%dT%H:%i:%s')                              as senddtm
             , 'samuel@rayful.com'                                                          as receiver
             , a.introduction                                                               as em_body
        FROM tb_attaches b
                 JOIN tb_email a
                      ON b.attach_id = a.id
        WHERE a.id < 11
        ]]>
    </select>
</mapper>
